*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
}

.header {
    padding-top: 45px;
    background-color: #f8f8f8;
    padding-bottom: 142px;
}

.container {
    max-width: 1140px;
    /*border: 1px solid red;*/
    margin: auto;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__top {
    margin-bottom: 117px;
}


.logo {
    font-size: 18px;
    font-weight: 800;
}

.nav {
    display: flex;
    list-style: none;
    padding: 0;
    font-size: 14px;
}

.nav__item:not(:last-child) {
    margin-right: 20px;
}

.phone {
    font-weight: 800;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content__text {
    flex-basis: 50%;
    font-size: 17px;

}

.header-content__title {
    font-size: 50px;
}

.header-content__image {
    /*flex-basis: 45%;*/
    max-width: 600px;
}

.header-content__description {
    font-size: 17px;
    line-height: 160%;
    margin-bottom: 40px;
}

.button {
    background-color: #FF6C6C;
    color: #fff;
    padding: 15px 56px;
    border-radius: 4px;
    box-shadow: 0 10px 25px rgba(255, 108, 108, 0.5);
}

.nav__link {
    text-decoration: none;
    color: #000000;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section__title {
    margin-bottom: 50px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex-basis: 25%;
    background: #F8F8F8;
    box-shadow: 0 4px 4px rgba(104, 104, 104, 0.1);
    border-radius: 5px;
    text-align: center;
    padding: 30px;
}

.goods__card {
    margin-bottom: 30px;
}

.card__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.card__image {
    margin-bottom: 28px;
}

.card__title {
    font-size: 16px;
    text-align: left;
    max-width: 200px;
}

.card__price {
    font-size: 36px;
}

.card__button {
    width: 100%;
}

.review-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.review-card {
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #EDEDED;
    box-shadow: 0 4px 4px rgba(131, 131, 131, 0.25);
    box-sizing: border-box;
    flex-basis: 24%;
    padding: 20px 30px;
    /*margin-right: 25px;*/
}

.review-card__title {
    font-size: 14px;

}

.review_card__text {
    margin-bottom: 5px;
    line-height: 21px;
}


.footer {
    background: #F8F8F8;
}
.contacts {
    display: flex;
    justify-content: space-between;
}

.form {
    flex-basis: 45%;
    /*padding: 10px;*/
}

.contacts__form {
    display: flex;
    flex-direction: column;
}

.map {
    flex-basis: 50%;
}

.input {
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 4px rgba(217, 217, 217, 0.25);
    padding: 25px 30px;
}

.form__inputs {
    display: flex;
    justify-content: space-between;
}

.form__input {
    width: 47%;
    margin-bottom: 30px;
}

.form__textarea {
    margin-bottom: 30px;
}

.form__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social {
    display: flex;
}

.social__link {
    text-decoration: none;
    margin-left: 22px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .header-content__title {
        font-size: 36px;
    }
    .card {
        flex-basis: 48%;
    }
    .card__image {
        width: 100%;
    }
    .review-card {
        flex-basis: 48%;
    }
    .review__card {
        margin-bottom: 30px;
    }
    .button {
        font-size: 14px;
        padding: 15px 40px;
    }
}

@media (max-width: 990px) {
    .container {
        max-width: 760px;
    }
    .header-content {
        flex-direction: column;
    }
    .header-content__description {
        max-width: 500px;
        font-size: 15px;
    }
    .contacts {
        flex-direction: column;
    }
    .contacts__form {
        margin-bottom: 50px;
    }
    /* Это не работает почему-то. Может быть потому */
    .review-card {
        margin-right: 25px !important;
        padding-right: 25px !important;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
    .top {
        flex-direction: column;
        min-height: 100px;
    }
    /*
    .nav {
        flex-direction: column;
    }
    */
    .header-content {
        text-align: center;
    }
    .header-content__title {
        font-size: 24px;
    }

    .header-content__description {
        font-size: 14px;
    }

    .header-content__image {
        max-width: 90%;
    }
    .card {
        flex-basis: 100%;
    }

}

@media (max-width: 540px) {
    .review-card {
        max-width: 250px;
    }

    .section {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}